.slider {
  height:  50vh;;
  // width: 100vw;
  position: relative;

  overflow: hidden;

  .container {
    width: auto;
    height: 100%;
    display: flex;
    transition: all 1s ease;

    // transform: translateX(-200vw);

    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }

  // .icons {
  //   width: fit-content;
  //   display: flex;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 100px;
  //   margin: auto;
  //   gap: 10px;

  //   .icon {
  //     width: 50px;
  //     height: 50px;
  //     border: 1px solid #999;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     cursor: pointer;
  //   }
  // }
}
